	<h2>Create account</h2>
	<form action="/createaccount" method="post">
		Username:<input type = "text" name = "username">
		Password: <input type = "password" name = "password">
		<p><input class="button" color: "background-color:"red" type = "submit" value = "Create!"></p>
	</form>