	<div class =  "hometext"><p>This is a wiki dedicated to GreenBay Packers quarterback superstar Aaron Rodgers.<br>
We hope you enjoy your experience here and do not forget to view our video gallery or fill out our friendly questionaire!</p> </div>
	<div style="background-color:#EEEEEE ; color: #FFB612; height:300px; width: 1000px; float:right; opacity: 0.90; font-size: 200%">
	<%=@info%>
	</div>
	<div  style = "background-color: #EEEEEE; color: black; height:300px; width: 200px; float:left; opacity: 0.6;">
	Number of characters: <%=@words%><br>
	Number of words: <%=@words2%>
	</div>
	