<h3>Questionaire</h3>

<form action="mailto:k.milchev.12@aberdeen.ac.uk" method="post" enctype="text/plain">

Please select the most suitable answer
<div class = "quizq">
<P>1. How well does our website meet your needs?<BR>
<input type="radio" name="1.How well does our website meet your needs?" value="Extremely Well">Extremely well<BR>
<input type="radio" name="1.How well does our website meet your needs?" value="Very Well">Very well<BR>
<input type="radio" name="1.How well does our website meet your needs?" value="Somewhat well">Somewhat well<BR>
<input type="radio" name="1.How well does our website meet your needs?" value="Not at all well">Not at all well<BR>
</p>
</div>

<div class = "quizq">
<P>2. How easy is it to find what you are looking for on our website?<BR>
<input type="radio" name="2. How easy is it to find what you are looking for on our website" value="Extremely easy">Extremely well<BR>
<input type="radio" name="2. How easy is it to find what you are looking for on our website" value="Very easy">Very easy<BR>
<input type="radio" name="2. How easy is it to find what you are looking for on our website" value="Somewhat easy">Somewhat easy<BR>
<input type="radio" name="2. How easy is it to find what you are looking for on our website" value="Not easy">Not easy<BR>
</p>
</div>

<div class = "quizq">
<P>3. How visually appealing is our website?<BR>
<input type="radio" name="3. How visually appealing is our website? " value="Extremely appealing">Extremely appealing<BR>
<input type="radio" name="3. How visually appealing is our website?" value="Very Appealing">Very appealing<BR>
<input type="radio" name="3. How visually appealing is our website?" value="Somewhat appealing">Somewhat appealing<BR>
<input type="radio" name="3. How visually appealing is our website?" value="Not so appealing">Not so appealing<BR>
</p>
</div>


<br>
<br>
<br>
<br>
<input type="submit" value="Send Form">
<input type="reset" value="Clear Form">
</form>