<!DOCTYPE html>
<html>
<body>
<div id = "video1">
<p style = "font-weight: bold" "text-align: center">Aaron Rogers vs Brett Favre!</p>
<iframe width="420" height="345" src="https://www.youtube.com/v/oIhIUnV_0lI" align="left"> 
</iframe>
</div>

<div id = "video2">
<p style = "font-weight: bold" "text-align: center">Aaron Rogers HIGHLIGHTS!</p>
<iframe width="420" height="345" src="https://www.youtube.com/v/qA-QDrFnZdE" align="left"> 
</iframe>
</div>

</body>
</html>

